

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid row">
        <div class="col-xs-4 hidden-xs">
            <div class="navbar-header align">
                <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}" class="glyphicon glyphicon-chevron-left  inherit" style="text-decoration: none;"></a>
                </p>
                <a class="navbar-brand inherit">
                    Websites
                </a>

                <p class="navbar-text pull-right">
                    <a href="#/user/{{model.userId}}/website/new" class="glyphicon glyphicon-plus inherit" style="text-decoration: none;"></a>
                </p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-8">
            <div ng-if="model.error" class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Error!</strong> {{model.error}}
            </div>
            <div class="navbar-header align">




                    <a class="navbar-brand inherit" style="text-decoration: none;">New Website</a>

                    <p class="navbar-text pull-right">
                        <a ng-click="model.createWebsite(model.website.name,model.website.description)"   class="glyphicon glyphicon-ok inherit" style="text-decoration: none;"></a>
                    </p>

            </div>
        </div>
    </div>
</nav>

<div class="row container-fluid">
    <div class="col-xs-4 hidden-xs">

        <form>
            <ul class="list-group">
                <div   ng-repeat="website in model.websites" class="form-group">

                    <a ng-model=model.website.name href="#/user/{{model.userId}}/website/{{website._id}}/page" class="page-list_label_style" style="text-decoration: none;">{{website.name}}</a>
                    <p class="pull-right">
                        <a ng-model=model.website.name href="#/user/{{model.userId}}/website/{{website._id}}" class="glyphicon glyphicon-cog " style="text-decoration: none;" ></a>
                    </p>

                </div>
            </ul>

        </form>
    </div>

    <div class="v-divider hidden-sm hidden-xs"></div>

        <div class=" col-xs-10 col-sm-8 ">

            <form>
                <div class="form-group ">
                    <label for="name">Name</label>
                    <input ng-model="model.website.name" type="text" class="form-control" id="name" placeholder="Name">
                </div>
                <div class="form-group">

                    <label for="description">Description</label>
                    <textarea ng-model="model.website.description" name="Description" id="description" class="form-control" rows="3">Description</textarea>
                </div>
            </form>

        </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <p class="navbar-text pull-right">
        <a href="#/user/{{model.userId}}" class="glyphicon glyphicon-user page-list_label_style inherit" style="text-decoration: none;"></a>
    </p>
</nav>

