

<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/custom.css"/>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">B2B-Ecommerce</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>

                <li>
                    <a href="#">Contact</a>
                </li>

                <li>
                    <a href="#/loginBuyer">Login</a>
                </li>

                <li>
                    <a href="../addtocart/addtocart.view.client.html"> image</a>
                </li>
            </ul>
        </div>

    </div>

</nav>



<div class="container-fluid breadcrumbBox text-center">
    <ol class="breadcrumb">

        <li class="active"><a ng-click="model.addtocart(quantity)">Proceed to CheckOut</a></li>

    </ol>
</div>

<div class="container text-center">

    <div ng-init="model.init()" />

    <div class="container">


        <input type="text"
               ng-model="quantity"
               class="form-control"
               placeholder="Please enter purchase quantity in metric tons" style="margin-left: auto": 30px; align="center"/>
        <div class="container">

            <div class="creatediv1 marginTop30">

                <div class="row margin-top-50">
                    <div class="col-md-12">
                        <div class="panel panel-primary filterable">
                            <div class="panel-heading">
                                <h3 class="panel-title">List of Sellers<span style="color: white; font-weight: bold;"> </span></h3>
                                <div class="pull-right">
                                    <button type="button" class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</button>
                                </div>
                            </div>

                            {{varietyDetails.varietyname}}
                            {{varietyDetails.username}}



                            <div ng-repeat="seller in varietyDetails track by $index">
                                <input

                                       ng-model="newObject[$index]"
                                       type="checkbox"
                                       ng-disabled="disable[$index]">
                                {{seller.username}}
                            </div>



                            <!--<table class="table-responsive">{{seller.username}}

                                <thead>
                                <th>SellerName</th>
                                <tr>
                                    <td>{{seller.username}}</td>
                                </tr>
                                <br>
                                <th> Seller Item Quantity</th>
                                <tr>
                                    <td>{{seller.quantity}}</td>
                                </tr>
                                <br>

                                </thead>
                            </table>
                        </div>-->


                            <!--<div ng-repeat="seller in varietyDetails track by $index">
                                <input
                                        type="checkbox"
                                        name="selectsellers[]"
                                        value="{{seller.username}}"
                                        ng-checked="selection.indexOf(seller.username) > -1"
                                        ng-click="toggleSelection(seller.username)"
                                > {{seller.username}}   {{seller.quantity}}
                            </div>-->

            </div>


    </div>

    </div>
</div>
            </div>
</div>
<!-- The popover content -->

<div id="popover" style="display: none">
    <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
    <a href="#"><span class="glyphicon glyphicon-remove"></span></a>
</div>

<!-- JavaScript includes -->

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/customjs.js"></script>
</div>
</body>
</html>