<head>
    <style>
        .imgSize {
            max-width: 100px;
            height: 100px;
        }
    </style>
</head>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">B2B-Ecommerce</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>

                <li>
                    <a href="#">Contact</a>
                </li>

                <li>
                    <a href="#/loginBuyer">Login</a>
                </li>

            </ul>
        </div>

    </div>

</nav>

<div class="container">

            <div ng-show="buyerModel.error" class="alert alert-danger" role="alert">
                {{buyerModel.error}}
            </div>



            <h1>Register</h1>
            <form>
                <div class="form-group">

                    <input ng-model="buyerModel.buyer.username" type="text" class="form-control" id="username" placeholder="username">
                </div>
                <div class="form-group">

                    <input ng-model="buyerModel.buyer.password" type="password" class="form-control" id="password" placeholder="password">
                </div>

                <div class="form-group">

                    <input ng-model="buyerModel.buyer.verifyPassword" type="password" class="form-control" id="verifyPassword" placeholder="verifypassword">
                </div>

                <div class="form-group">

                    <input ng-model="buyerModel.buyer.role" type="text" class="form-control" id="role" placeholder="BUYER or SELLER">
                </div>


                <a ng-click="buyerModel.registerBuyer(buyerModel.buyer.username,buyerModel.buyer.password,buyerModel.buyer.verifyPassword,buyerModel.buyer.role)"  class="btn btn-primary btn-block">Register</a>
                <a href="#/loginBuyer" class="btn btn-danger btn-block">Cancel</a>
            </form>
        </div>


        <nav class="navbar  navbar-fixed-bottom navbar-pages-project">
            <p class="navbar-text pull-right" style="margin-right: 15px">
                Copyrights@2016
            </p>
        </nav>

        <!--</div>
        </div>-->

        <script src="js/jquery.js"></script>


        <script src="js/bootstrap.min.js"></script>

        </body>

        </html>