

    <nav class="navbar navbar-default navbar-fixed-top navbar-pages">
        <div>
            <div class="navbar-header align">
                <p class="navbar-text pull-left" style="margin-left: 5px">
                    <a href="#/user/{{model.userId}}/website" class="glyphicon glyphicon-chevron-left  glyphicon-pages" style="text-decoration: none;"></a>
                </p>
                <a class="navbar-brand inherit" style="color: dimgray">Pages</a>

                <p class="navbar-text pull-right" style="margin-right: 15px">
                    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/new" class="glyphicon glyphicon-plus  glyphicon-pages" style="text-decoration: none;"></a>
                </p>
            </div>
        </div>
    </nav>


    <div class="container">


        <form>
            <ul class="list-group">
            <div  ng-repeat="page in model.pages"  class="form-group">


                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}/widget" class="page-list_label_style " style="text-decoration: none;">{{page.name}}</a>
                <p class="pull-right">
                    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}" class="glyphicon glyphicon-cog page-list_label_style" style="text-decoration: none;"></a>
                </p>

            </div>


            </ul>
        </form>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom navbar-pages">
        <p class="navbar-text pull-right" style="margin-right: 15px">
            <a href="#/user/{{model.userId}}" class="glyphicon glyphicon-user page-list_label_style   glyphicon-pages-user" style="text-decoration: none;"></a>
        </p>
    </nav>
